<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio contraseña </title>
    <link rel="stylesheet" href="../../public/css/pwd_exitoso.css">
</head>

<body>
    <main id="cuerpo">
    <div class="success-container">
        <div class="success-card">
          <div class="icon-check">
            
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#4CAF50" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M20 6L9 17l-5-5"></path>
            </svg>
          </div>
          <h1 class="success-title">¡Contraseña actualizada!</h1>
          <p class="success-message">
            Tu contraseña ha sido cambiada exitosamente. Por favor, utiliza tu nueva contraseña la próxima vez que inicies sesión.
          </p>
          <a href="../../login.php" class="btn-primary">Iniciar sesión</a>
        </div>
      </div>
    </main>
</body>
</html>